@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --cor-principal: #ffffff;
    --cor-secundaria: #6d51e9;
    --cor-destaque: #000000;

}

body {
    font-family: 'Chakra Petch', sans-serif;
    color: var(--cor-principal);
    background-image: url(https://images.unsplash.com/photo-1559583985-c80d8ad9b29f?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3);
    background-size: 100%;
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

.lead, .btn-link {
    color: var(--cor-destaque);
    font-weight: 700;
}

a, .btn-link:hover {
    color: var(--cor-principal)
}

a:hover{
    color: var(--cor-destaque);
}
.container text-center {
    width: 260px;
    height:250px ;
}
.card{
    color: #000000;
}